.button {
    width: auto;
    padding: 8px;
    color: #ffffff;
    background: none #191970;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 12px 12px 12px;
}

.button:hover {
    background-color: #5a5ace;
    color: white;
}

.label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 12px 12px 12px;
    width: 100px; 
}

.title {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 12px 12px 30px 12px;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    align-items: right;
    height: auto;
}

.form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row; /* Koristimo flex-direction: row za poravnanje labela i inputa */
    align-items: center; /* Poravnaj labelu i input vertikalno */
}

.form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.1); 
    margin: 15px 0;
}

.form .inputGroup {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-top: 10px;
}

input[type="text"],
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}
#categoriesTable {
    width: 100%;
    border-collapse: collapse;
}

#categoriesTable th, #categoriesTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

#categoriesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5a5ace;
    color: white;
}

#categoriesTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#categoriesTable tr:hover {
    background-color: #ddd;
}

.balanceContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-direction: column;
}

.balance {
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}

.pieCharts {
    display: flex;
    flex-direction: row; /* Promijenjeno iz column u row */
    flex-wrap: wrap; /* Omogućava prelamanje elemenata na manje ekrane */
    justify-content: center;
}

@media (max-width: 600px) {
    .pieCharts {
        flex-direction: column; /* Na manjim ekranima se vraća na stupac */
    }
}

#myPieChartIncome, #myPieChartExpense {
    width: 200px !important;
    height: 200px !important;
}

.pieChartContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.savingsContainer {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
 #savingsChart {
    width: 300px !important;
    height: 300px !important;
 }